.signedAs {
  margin-right: 20px;
}
.container.principal {
  margin-top: 80px;
}
.container.principal .carousel-inner.carouselImage img {
  height: 600px !important;
  margin: auto;
}
.footer .center {
  text-align: center;
}
.footer .copyright {
  float: none !important;
}
