<ul class="list-group">
	<a href="#" ng-click="menuClick('principal')" class="list-group-item" ng-class="{active: currentPage == 'principal'}">Início</a>	
	<a href="#" ng-click="menuClick('repertorio')" class="list-group-item" ng-class="{active: currentPage == 'repertorio'}">Repetório</a>
	<a href="#" ng-click="menuClick('historia')" class="list-group-item"  ng-class="{active: currentPage == 'historia'}" >História</a>
	<a href="#" ng-click="menuClick('fotos')" class="list-group-item" ng-class="{active: currentPage == 'fotos'}">Fotos</a>
	<a href="#" ng-click="menuClick('videos')"  class="list-group-item" ng-class="{active: currentPage == 'videos'}">Vídeos</a>
	<a href="#" ng-click="menuClick('cds')"  class="list-group-item" ng-class="{active: currentPage == 'cds'}">CDS</a>
	<a href="#" ng-click="menuClick('contato')" class="list-group-item" ng-class="{active: currentPage == 'contato'}">Contato</a>
</ul>